@import "tailwindcss";



@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-in {
  opacity: 0; /* start hidden */
  animation: fadeSlideIn 0.5s ease forwards;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {

  font-size: 4.8em;
  line-height: 1.1;
}

h2 {

  color:#fff9fc;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menu-button {
  border-radius: 64px;
  border: 2px solid transparent;
  border-color: #1a1a1a;
  padding: 0.3em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a61124;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s border-color 0.2s ease;
  width: 256px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.menu-button:hover {
  border-color: #000000;
  background:#d64242;
  transform: scale(1.05);
}
.menu-button:focus,
.menu-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.submit-button {
  border-radius: 64px;
  border: 2px solid transparent;
  border-color: #1a1a1a;
  padding: 0.3em 1.2em;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F85353;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s border-color 0.2s ease;
  width: 256px;
}
.submit-button:hover {
  border-color: #000000;
  background:#d64242;
  transform: scale(1.05);
}
.submit-button:focus,
.submit-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
